body {
}
.wrap-pop-ups {
  position: ;
}
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background: #0f1219;
  margin: auto;
  padding: 60px 49px;
  border: 1px solid #48beff;
  z-index: 100;
}
.wrap-pop-ups {
  display: none;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 18, 25, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
}
.wrap-pop-ups2,
.wrap-pop-ups3 {
  display: none;
}
.wrap-pop-ups-show {
  display: block !important;
}
.pop-up-wholesale-buyers-reg {
  display: none;
}
.pop-up-fiz,
.pop-up-urid,
.pop-up-order {
  display: none;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.show-grid {
  display: grid;
}
.pop-up-reg {
}

.pop-up p {
  text-align: center;
}
.pop-up .title-pop-up {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}
.pop-up .desc-pop-up {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #a2a6b1;
  margin-top: 10px;
}
.pop-up .container-inputs {
  display: grid;
  gap: 12px;
  margin-top: 30px;
}
.pop-up input {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #a2a6b1;
  background: #1f2229;
  border: none;
  padding: 15px;
}
.pop-up a.link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  margin-top: 12px;
}
.pop-up .row-buttons {
  display: flex;
  gap: 9px;
  width: 100%;
  margin-top: 40px;
}
.pop-up button {
  display: block;
  width: 50%;
  max-width: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding: 16px 0px !important;
}
.pop-up .blue-button {
  margin: 0;
}
.pop-up .btn2 {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 0 !important;
}
.pop-up .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.pop-up-reg {
}
.pop-up-reg .row-buttons {
  margin-top: 30px;
}
.pop-up-reg .blue-button {
  margin: 0 auto;
}
.pop-up-reg .link {
  text-align: center;
  margin-top: 30px !important;
}
.pop-up #comment-input {
  padding-bottom: 62px;
}
.pop-up .title2-pop-up {
  text-align: left;
  margin-top: 30px;
}
.pop-up .title2-pop-up span {
  color: #48beff;
}
.pop-up-order .container-inputs {
  margin-top: 16px;
}
.pop-up-cart {
}
.pop-up-cart .title-pop-up {
  margin-bottom: 30px;
}
.pop-up-cart .row {
  gap: 28px;
  padding-bottom: 30px;
  border-bottom: 1px solid #57595e;
}
.pop-up-cart .row .wrap-name-container-count {
  gap: 28px;
}
.pop-up-cart .row .name-product {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.pop-up-cart .row .container-count {
  padding: 10px;
  padding-left: 20px;
  background: #57595e;
}
.pop-up-cart .row .container-count .minus {
}
.pop-up-cart .row .container-count .minus .line {
  width: 5px;
  height: 1px;
  background: #fff;
}
.pop-up-cart .row .container-count .plus {
}
.pop-up-cart .row .container-count .num {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 24px;
}
.pop-up-wholesale-buyers-reg {
  justify-content: center;
}
.pop-up-wholesale-buyers-reg .row-buttons {
  display: grid;
  gap: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.pop-up-wholesale-buyers-reg .btn {
  width: 100%;
  max-width: 300px;
  background: none;
  padding: 16px 0;
  border: 1px solid #fff;
}
.pop-up-fiz .wrap-input,
.pop-up-urid .wrap-input {
}
.pop-up-fiz .name-input,
.pop-up-urid .name-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-bottom: 10px;
}
@media only screen and (max-width: 700px) {
  .pop-up {
    max-width: 350px;
  }
}
@media only screen and (max-width: 500px) {
  .pop-up {
    max-width: 290px;
    padding: 73px 20px 50px 20px;
  }
  .pop-up .row-buttons {
    display: grid;
  }
  .pop-up button {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
  .pop-up .title-pop-up {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
  .pop-up .desc-pop-up {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .pop-up .container-inputs {
  }
  .pop-up input {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
  .pop-up a.link {
    text-align: center;
  }
  .pop-up-cart .row {
    align-items: end;
    padding-bottom: 20px;
  }
  .pop-up-cart .row .wrap-name-container-count {
    display: block;
  }
  .pop-up-cart .row .container-count {
    max-width: max-content;
  }
  .pop-up-cart .row .name-product {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .pop-up-fiz .name-input,
  .pop-up-urid .name-input {
    font-size: 16px;
  }
}
